@{
    ViewBag.Title = "Slideshow";
    var songs = ViewBag.Songs as List<Top2000_MVC.Models.Top2000Song>;
}

<div id="top-image-container">
    <img src="~/Image/bart.jpg" alt="Kijk hier terug: Openingsshow Top 2000 door Bart Arens" class="top-image">
    <div class="top-image-text">
        <div class="line"></div>
        Kijk hier terug: Openingsshow Top 2000 door<br>Bart Arens
        <!-- Verplaats de view-button naar een wrapper die de volledige ruimte van de knop beslaat -->
        <a href="https://www.nporadio2.nl/nieuws/top2000/c981cb14-380d-4fa8-b184-7538b2329b0c/bekijk-hier-de-openingsshow-top-2000-door-bart-arens" class="view-button-wrapper">
            <div class="view-button">
                <svg viewBox="0 0 72 72" class="sc-85779046-0 dhOonu">
                    <path d="M51.47 33.1 26.6 18.46c-2.02-1.18-5.12-.03-5.12 2.9v29.27a3.39 3.39 0 0 0 5.12 2.9L51.47 38.9a3.36 3.36 0 0 0 0-5.8Z" fill="#fff" class="sc-85779046-3 iktjfF">
                    </path>
                </svg>
            </div>
        </a>
    </div>
</div>

<div id="slideshow-container">
    <div id="slideshow">
        <div>
            <img src="~/Image/top2000-1.jpg" class="square-img">
        </div>
        <div>
            <img src="~/Image/top2000-2.jpeg" class="square-img">
        </div>
        <div>
            <img src="~/Image/top2000-3.jpg" class="square-img">
        </div>
    </div>
    <!-- Witte box naast de slideshow met Top 5 van de Top 2000 -->
    <div id="white-box">
        <h2>Top 5 van de Top 2000</h2>
        <ul>
            @foreach (var song in songs.Select((value, index) => new { Value = value, Index = index }))
            {
                if (song.Index >= 5) break;
                var durationMinutes = song.Value.DurationMs / 60000;
                var durationSeconds = (song.Value.DurationMs % 60000) / 1000;
                <li>
                    <div class="song-info">
                        <div class="song-rank">
                            @String.Format("{0}", song.Index + 1) <!-- Add the ranking number -->
                        </div>
                        <div class="song-duration">
                            @String.Format("{0:D2}:{1:D2}", durationMinutes, durationSeconds)
                        </div>
                        <a href="@Url.Action("SongDetail", "Top2000", new { songId = song.Value.SongId })" class="song-title">
                            <img src="@song.Value.Afbeelding" alt="Album cover" class="song-image" />
                        </a>
                        <a href="@Url.Action("SongDetail", "Top2000", new { songId = song.Value.SongId })" class="song-title">
                            @song.Value.Titel
                        </a>
                        <a href="@Url.Action("ArtistInfo", "Top2000", new { artistName = song.Value.Artiest?.Naam, wiki = song.Value.Artiest?.Wiki })" class="artist-link">
                            @song.Value.Artiest?.Naam
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<style>
    body {
        margin: 0;
        padding: 0;
        background: linear-gradient(to bottom, #22282e 60vh, white 60vh);
    }

    #top-image-container {
        width: 100%;
        height: 300px;
        display: flex;
        padding-top: 20px;
        justify-content: center;
        align-items: flex-end; /* Verplaats de tekst naar de onderkant */
        position: relative; /* Zorgt ervoor dat de tekst over de afbeelding komt */
    }

    .top-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .top-image-text {
        position: absolute;
        left: 20px;
        bottom: 20px;
        font-size: 36px;
        font-weight: bold;
        color: white;
        padding-left: 20px;
        display: flex;
        align-items: center;
    }

    .view-button-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 200px; /* Ruimte tussen de tekst en de knop */
    }

    .view-button {
        height: 90px;
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        fill: white;
        border-radius: 50%;
    }

        .view-button svg {
            width: 70px;
            height: 70px;
        }

    .line {
        width: 6px;
        height: 70px;
        background-color: red;
        margin-right: 15px;
    }

    #slideshow-container {
        padding-top: 40px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1100px;
        margin: 0;
        flex-wrap: wrap; /* Zorgt ervoor dat de slideshow en de witte box zich aan de breedte aanpassen */
    }

    #slideshow {
        flex-grow: 1; /* Laat de slideshow zoveel mogelijk ruimte nemen */
        flex-basis: 65%;
        max-width: 700px;
        height: 450px; /* Zet de hoogte vast op 450px */
        min-height: 450px; /* Zorgt ervoor dat de slideshow niet kleiner wordt */
        position: relative;
        border-radius: 10px;
    }


        #slideshow > div {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

    #white-box {
        flex: 1 1 35%; /* Witte box neemt 35% van de breedte in */
        height: 425px;
        background-color: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 20px; /* Zorgt voor ruimte boven de witte box */
    }

        #white-box a {
            text-decoration: none;
            color: inherit;
        }

        #white-box h2 {
            margin-top: 0;
            font-size: 22px;
            border-bottom: 1px solid #d3d3d3;
            padding-bottom: 10px;
            font-weight: 600;
        }

        #white-box ul {
            list-style-type: none;
            padding: 0;
        }

        #white-box li {
            font-size: 16px;
            padding: 10px 0;
        }

    .song-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .song-rank {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        margin-right: 25px;
    }

    .song-title {
        flex-grow: 1;
        font-size: 16px;
        font-weight: bold;
        color: #333;
        margin-left: 10px;
    }

        .song-title:hover {
            color: #007bff;
        }

    .artist-link {
        font-size: 14px;
        color: #666;
    }

        .artist-link:hover {
            color: #007bff;
        }

    .song-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 5px;
    }

    .song-duration {
        font-size: 12px;
        padding-right: 10px;
        color: #999;
    }

    .square-img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Zorgt ervoor dat de afbeelding netjes gevuld blijft */
        border-radius: 10px;
    }


    /* Zorgt ervoor dat de witte box onder de slideshow komt als het scherm te klein wordt */
    #slideshow-container {
        display: flex;
        flex-wrap: wrap; /* Verplichte regel voor de flexibele layout die zich aanpast */
    }

        #slideshow-container > #slideshow {
            width: 100%; /* Op kleinere schermen zal de slideshow 100% van de breedte innemen */
            height: 300px; /* De hoogte aanpassen voor kleinere schermen */
        }

        #slideshow-container > #white-box {
            width: 100%; /* De witte box neemt ook de volledige breedte in op kleinere schermen */
            margin-top: 20px; /* Ruimte tussen slideshow en de witte box */
        }

</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var slideInterval = 5000;
        var slides = $("#slideshow > div");
        var currentIndex = 0;

        slides.hide();
        slides.first().show();

        setInterval(function () {
            $(slides[currentIndex]).fadeOut();  // Fade out current slide
            currentIndex = (currentIndex + 1) % slides.length;
            $(slides[currentIndex]).fadeIn();   // Fade in next slide
        }, slideInterval);
    });
</script>