<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Top2000_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Top2000_MVC.styles.css" asp-append-version="true">
    <style>
        body {
            color: white;
        }

        .navbar-wrapper {
            background-color: #22282e;
        }

        .navbar {
            width: 60%;
            margin: auto;
            display: flex;
            align-items: center;
            padding: 10px 0;
        }

            .navbar .container-fluid {
                display: flex;
                align-items: center;
            }

        .navbar-logo {
            margin-right: 20px;
        }

            .navbar-logo img {
                height: 50px;
            }

        .nav-item {
            font-weight: 700;
            font-size: 17px;
            padding: 5px 10px;
        }

            .nav-item .nav-link.active {
                text-decoration: underline;
                text-decoration-color: red;
                text-decoration-thickness: 3px;
                text-underline-offset: 3px;
                text-decoration-skip-ink: none;
                border-radius: 5px;
            }

        .nav-link {
            color: white !important;
            transition: background-color 0.2s, color 0.2s, border 0.2s;
            padding: 5px 15px; /* Verhoog padding voor meer ruimte */
            border-radius: 5px;
            border: 2px solid transparent; /* Transparante border standaard */
        }

            .nav-link:hover, .dropdown-item:hover {
                background-color: red;
                color: white;
                text-decoration: none !important;
                border-color: red; /* Verander de borderkleur bij hover */
            }

        .nav-item.dropdown:hover .dropdown-menu {
            display: block;
        }

        .dropdown-menu {
            background-color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        .dropdown-item {
            font-size: 14px;
            padding: 8px 20px;
        }

        .footer {
            background-color: white;
            padding: 15px;
            color: black;
        }

            .footer a {
                color: black;
                margin-right: 15px;
                text-decoration: none;
            }

                .footer a:hover {
                    text-decoration: underline;
                }

        /* Voeg de knoppen aan de rechterkant toe met de juiste border */
        .navbar-nav.ms-auto .nav-link {
            border: 1px solid red; /* Geef de knoppen een witte border */
        }
    </style>
</head>
<body>
    <header>
        <div class="navbar-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand navbar-logo" href="/">
                        <img src="https://cms-assets.nporadio.nl/npoRadio2/NPO-Radio-2-Top-2000-Logo-RGB.png?v=1638012168" alt="NPO Radio 2 Logo">
                    </a>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" ? "active" : "")"
                                   asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Liedjes" ? "active" : "")"
                                   asp-area="" asp-controller="Liedjes" asp-action="Index">Liedjes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Artiesten" ? "active" : "")"
                                   asp-area="" asp-controller="Artiesten" asp-action="Index">Artiesten</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Top2000" ? "active" : "")"
                                   asp-area="" asp-controller="Top2000" asp-action="Index" role="button">Top 2000</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Frequenties" asp-action="Index">Frequenties</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="VolgRadio2" asp-action="Index">Volg NPO Radio 2</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Voeg de login en register knoppen toe aan de rechterkant -->
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Registreren" asp-action="Register">Registreren</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">@RenderBody()</main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <a href="https://npo.nl/overnpo/algemene-voorwaarden/algemene-voorwaarden-online" target="_blank">Algemene voorwaarden</a>
            <a href="https://npo.nl/overnpo/privacy-en-security" target="_blank">Privacybeleid</a>
            <a href="https://cookies.nporadio2.nl/sites/NPO/nporadio2.nl/settings.html?version=v3.1.14-y0mmh" target="_blank">Cookiebeleid</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
